{{#each drinks}}
  <div class="drinks" data-id= {{id}}>
    {{name}}<br/> Ingredients: {{ingredients}}<br/> Toppings: {{toppings}}<br/> Notes: {{notes}}</br>

    {{!-- {{#if current_user}} --}}
      <div class="update-and-delete buttons">
        <button class="btn btn-primary btn-md update-drink" data-toggle="modal" data-target="#updateDrinkModal" data-id= {{id}}>Update</button>
        <button type="button" class="btn btn-primary btn-md delete-drink" data-id= {{id}} id="delete-drink">Delete</button>
      </div>
    {{!-- {{/if}} --}}

    <p>
      <a data-toggle="collapse" href="#commentsCollapse{{id}}" aria-expanded="false" aria-controls="collapseExample">
        <span class="pull-right">Comments</span><br/>
      </a>
    </p>
    <div class="collapse" id="commentsCollapse{{id}}">

      {{!-- {{#if bubbleTea.bbtApp.user}} --}}
      <div>
        <textarea rows="3" class="comment-form" name="comments[comment]"></textarea>
        <button type="submit" class="btn btn-primary comment-submit">Add Comment</button>
      </div>
      {{!-- {{/if}} --}}

      {{#each comments}}
        <div class="comment">{{comment}}</div>
      {{/each}}
    </div>
  </div>
{{/each}}
