{{#each drinks}}
  <div class="drinks" data-id={{id}}>
    {{name}}<br/>
    Ingredients: {{ingredients}}<br/>
    Toppings: {{toppings}}<br/>
    Notes: {{notes}}</br>
    <button class="btn btn-primary btn-md update-drink" data-toggle="modal" data-target="#updateDrinkModal" data-id={{id}}>Update</button>
    <button type="button" class="btn btn-primary btn-md delete-drink" data-id={{id}} id="delete-drink">Delete</button>
  </div><p>
{{/each}}
