{{#each drinks}}
  <div class="drinks" data-id= {{id}}>
    {{name}}<br/> Ingredients: {{ingredients}}<br/> Toppings: {{toppings}}<br/> Notes: {{notes}}</br>


      <div class="update-and-delete" hidden>
        <button class="btn btn-primary btn-md update-drink" data-toggle="modal" data-target="#updateDrinkModal" data-id= {{id}}>Update</button>
        <button type="button" class="btn btn-primary btn-md delete-drink" data-id= {{id}} id="delete-drink">Delete</button>
      </div>

    <p>
      <a data-toggle="collapse" href="#commentsCollapse{{id}}" aria-expanded="false" aria-controls="collapseExample" id="comments-link">
        <span class="pull-right">Comments</span><br/>
      </a>
    </p>
    <div class="collapse" id="commentsCollapse{{id}}">

      <div class="comment-button" hidden><button class="btn btn-primary btn-md create-comment" data-toggle="modal" data-target="#createCommentModal" data-id= {{id}}>Add Comment</button></div>
      <!-- {{#if bubbleTea.bbtApp.user}}

          <textarea rows="3" class="comment-form" name="comments[comment]" id="comment-textarea"></textarea>
          <button type="submit" class="btn btn-primary comment-submit" data-id={{id}}>Add Comment</button>

      {{/if}} -->

      {{#each comments}}
        <div class="comment">{{comment}}</div>
      {{/each}}
    </div>
  </div>
{{/each}}
